<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="top::menu"></div>
<style>
  th{
  text-align: center;
  width: 100px;
  vertical-align: middle;
  font-size: 18px;
  }
  td{
  text-align: center;
  width: 300px;
  }
</style>
<body>
<br>
<h2 align="center">가계부 수정</h2>
<div class="container mt-3">
    <form method="post" action="mod_save">
        <table class="table table-hover">
            <input type="hidden" name="id" th:value="${id}">
            <tr>
                <th>상품명</th>
                <td>
                    <input type="text" name="name" class="form-control mt-3" placeholder="name of product" th:value="${name}">
                </td>
            </tr>
            <tr>
                <th>수량</th>
                <td>
                    <input type="text" name="count" class="form-control mt-3" placeholder="count of product" th:value="${count}">
                </td>
            </tr>
            <tr>
                <th>단가</th>
                <td>
                    <input type="text" name="price" class="form-control mt-3" placeholder="price of product" th:value="${price}">
                </td>
            </tr>
            <tr>
                <th>사용처</th>
                <td>
                    <select class="form-select" id="market" name="market">
                        <option>==아래 선택하기==</option>
                        <option>롯데마트</option>
                        <option>노브랜드</option>
                        <option>다이소</option>
                        <option>홈플러스</option>
                        <option>코스트코</option>
                        <option>기타</option>
                    </select>
                    <!--
                    <input type="text" name="market" class="form-control mt-3" placeholder="price of product" th:field="*{market}">
                    <p th:if="${#fields.hasErrors('market')}" th:errors="*{market}"></p>
                    -->
                </td>
            </tr>
            <tr>
                <th>분류</th>
                <td>
                    <select class="form-select" id="category" name="category">
                        <option>==아래 선택하기==</option>
                        <option>식비</option>
                        <option>간식비</option>
                        <option>의류,화장품</option>
                        <option>하루 용품</option>
                        <option>생활 용품</option>
                        <option>기타</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>사진</th>
                <td>
                    <input type="file" name="picture" class="form-control mt-3" placeholder="picture of product">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-light">수정</button>
                    <button type="reset" class="btn btn-light">취소</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>